[Bb]uild/
[Cc]ache/
[Uu]ser_test*/

# ignore certain file extensions
*.bak
*.bak0
*.pdb
*.pyc
*.swatches
*.swp
*.un~
*.xz
*.log

# ignore general local folders
__pycache__
.idea/
.mayaSwatches/
.vs/
.vscode/
**/*egg-info/**
**/*egg-link
[Uu]ser/
.DS_Store
_savebackup/


# ignore specific files
imgui.ini
user*.cfg
client*.cfg
server*.cfg